<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-title">Luciole - Back Office</span>
    <button mat-button>Home</button>
    <button mat-button>Game Versions</button>
    <button mat-button [matMenuTriggerFor]="config">Configs</button>
    <mat-menu #config="matMenu">
      <button mat-menu-item>Kingdom</button>
      <button mat-menu-item>Buildings</button>
    </mat-menu>
    <button mat-button>Users</button>
    <span class="menu-spacer"></span>
    <mat-icon class="menu-icon">account_circle</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>