<mat-card class="lu-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>warning</mat-icon>
        </div>
        <mat-card-title>Wait a minute ...</mat-card-title>
        <mat-card-subtitle>This service is currently unavailable.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            Come back later !
        </p>
    </mat-card-content>
</mat-card>